PINATA_API_KEY= 
PINATA_SECRET_API_KEY= 
PORT= 
CREATOR_PRIVATE_KEY= 
PINATA_JWT= 
PINATA_GATEWAY= 
RPC_URL= 
JITO_RPC_URL= 

# database env
DB_NAME=token_create
DB_USER=postgres
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432
